* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.quiz-container {
    width: 550px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #2563eb;
    margin-bottom: 10px;
}

h1 i {
    margin-right: 10px;
}

#progress {
    color: gray;
    margin-bottom: 20px;
}

#question {
    margin-bottom: 20px;
}

#question i {
    margin-right: 8px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#options button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #007bff;
    color: white;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 12px;

    text-align: left;
    font-size: 16px;

    transition: 0.3s;
}

#options button:hover {
    opacity: 0.9;
}

.option-icon {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    background: rgba(255,255,255,0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

.result-btn {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}